.slider {
    grid-row: 2 / 3;
}


.imagen-slider {
    width: 90%;
    height: 40rem;
    position: relative;
    filter: brightness(25%);
    
}

.imagen-slider-titulo {
    color: $rosaPrimario;
    font-size: 2.5rem;
    font-weight: 600;
}

.slider-imagen-parrafo {
    color: $blanco;
    font-size: $tamañoDefault;
    font-weight: 300;
    opacity: 0.8;
    
}
